* {
  padding: 0;
  margin: 0;
}

.navigasi {
  background-color: #0c4cd9;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.navigasi img {
  width: 10%;
  height: 10%;
}

.logo {

  padding-left: 20px;
  color: aliceblue;
  size: 50px;
  font-size: 25px;
}

.menu {
  margin-left: 800px;
  padding-top: -40;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: fantasy;
}

.h1 {
  color: pink;
}
